/* General Styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #616060;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Table Container */
.table-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: -20px;
  width: 80%;
  max-width: 800px;
  overflow-x: auto;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 12px 15px;
  text-align: left;
}

th {
  background-color: #6c7ae0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

td {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #e9ecef;
  transform: scale(1.02);
  transition: transform 0.2s ease, background-color 0.2s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .table-container {
    width: 95%;
    padding: 10px;
  }

  th, td {
    padding: 10px;
  }
}

/* Navigation Bar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #707de1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 1000;
}

.navbar-logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Adjust the top margin of the App content to prevent overlap with the fixed navbar */
.App {
  margin-top: 60px; /* Adjust this value based on the navbar's height */
}
